<app-hello-world></app-hello-world>

<app-parent></app-parent>

<app-child>
    <h3 question>Who is this?</h3>
    <p answer>Hello from root!</p>
</app-child>

<!-- event binding -->
<button (click)="toggleText($event)">Toggle text</button>
{{ showText }}

<!-- template pipes -->
<p>date pipe {{ todayDate | date }}</p>

<p>date others pipe and uppercase pipe {{ todayDate | date : 'EEEE MMMM d y' | uppercase}}</p>

<p>date short pipe {{ todayDate | date : 'short'}}</p>

<p>custom pipe {{ todayDate | greetingsPipe | lowercase }}</p>

<!-- property binding-->
<p><img [src]="itemImageUrl" [width]="itemImageWidth"></p>

<!-- class binding-->
<div [class.sale]="onSale">
    <p>Class name binding single class</p>
</div>

<div [class]="'classOne classTwo'">
    <p>Class name binding mulitple classes</p>
</div>

<div [class]="{ classOne: true, classTwo: false }">
    <p>Class name binding mulitple classes</p>
</div>

<div [class]="[ 'classOne', 'classTwo' ]">
    <p>Class name binding mulitple classes</p>
</div>

<!-- custom event binding -->
<app-item-details (deleteRequest)="deleteItem($event)"></app-item-details>


<!-- two way binding sharing and giving
share data, listen events, update vales simultaensouly between parent and child components -->

<!-- shorthand 2 way binding the event name must be sizeChange -->
<app-app-sizer [(size)]="fontSizePx"></app-app-sizer>

<!-- 2 way binding as separate property binding and event binding -->
<!--<app-app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-app-sizer>-->
<div [style.font-size.px]="fontSizePx">Resizeable text</div>


<!-- template variables, can be used in multiple places in a template #phone -->
<div>
    <input #phone placeholder="phone">
    <button (click)="callPhone(phone.value)">Call</button>
</div>

<div>
    <input #ref1 type="text" [(ngModel)]="firstExample" />

    <!-- New template -->
    <ng-template [ngIf]="true">
        <!-- Because the context is inherited, the value is available to the new template -->
        <span>Value: {{ ref1.value }}</span>
    </ng-template>
</div>


<h2>Directives</h2>
<!-- built-in directives -->
<h3>Built-in directives</h3>
<div [ngClass]="isSpecial ? 'special' : ''">is special</div>

<div [ngClass]="currentClasses">Set current classes</div>

<div [ngStyle]="currentStyle">Set current style</div>

<div>
    <label for="example">{{ name }}</label>
    <input [(ngModel)]="name" id="example">
</div>

<h3>Attribute directives</h3>
<p [appHighlight]="'red'">Test</p>

<h3>Structural directives</h3>
<div *ngIf="isActive">isActive</div>

<div>
    <ul>
        <li *ngFor="let item of items; let i = index">{{ i + 1 }}: {{ item.name }}</li>
    </ul>
</div>

<div [ngSwitch]="item.name">
    <div *ngSwitchCase="'Bob'">Hi Bob</div>
    <div *ngSwitchCase="'Barry'">Hi Barry</div>
    <div *ngSwitchDefault>Hi Default</div>
</div>



<h2>Dependency Injection</h2>


<h2>App Routing</h2>
<a routerLink="/first-component/1">First component</a> - 
<a routerLink="/second-component">Second component</a>


<!-- 
    add template reference to form as ngForm
    use 2 way data binding syntax for the model and input, and must add name attribute -->
<h2>Template driven form</h2>
<p>{{ petModel | json }}</p>
<div [hidden]="submitted">
<form #petForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="petName">Name</label>
        <input id="petName" type="text" required [(ngModel)]="petModel.name" name="petName">
    </div>
    <div>
        <label for="petSpecies">Species</label>
        <select id="petSpecies" required [(ngModel)]="petModel.type" name="petSpecies">
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div>
        <button type="submit" [disabled]="!petForm.form.valid">
            Submit
        </button>
    </div>
</form>
</div>
<div [hidden]="!submitted">
    <p>You submitted the following values:</p>
    <ul>
        <li>Name: {{ petModel.name }}</li>
        <li>Type: {{ petModel.type }}</li>
    </ul>
    <button type="button" (click)="submitted = false">Edit</button>
</div>

<h2>Reactive forms</h2>
<label for="reactiveName">Name:</label>
<input id="reactiveName" type="text" [formControl]="reactiveName" required>
<p>{{ reactiveName.value }}</p>
<button type="button" (click)="updateName('Its my world!')" [disabled]="!reactiveName.valid">Update name</button>


<div>
    <form [formGroup]="profileForm" (ngSubmit)="onProfileFormSubmit()">
        <div>
            <label for="profileFormFirstName">First name</label>
            <input id="profileFormFirstName" type="text" formControlName="firstName" minlength="3" required>
        </div>
        <div>
            <label for="profileFormSecondName">Second name</label>
            <input id="profileFormSecondName" type="text" formControlName="lastName" required>
        </div>
        <div>
            <button type="submit" [disabled]="!profileForm.valid">Submit</button>
        </div>
    </form>
</div>


<h2>form validation</h2>

<h3>template driven form</h3>


<!--<p>{{ uname.errors | json }}</p>-->

<input name="userName" [ngModel]="user.userName" minlength="5" maxlength="10" required #uname="ngModel">

<div *ngIf="uname.invalid && (uname.dirty || uname.touched)">
    <div *ngIf="uname.errors?.required">
        Name is required.
    </div>
    <div *ngIf="uname.errors?.minlength">
        Name must be at least 5 characters long.
    </div> 
</div>


<h3>reactive form with formControl property binding</h3>

<input [formControl]="userName">
<div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
    <div *ngIf="userName.errors?.maxlength"> 
        Name can be max 10 characters long.
    </div> 
</div>

<h3>reactive form with formControlName angular directive, requires formGroup property binding</h3>

<form [formGroup]="userForm">
    <input formControlName="userName2" required>
    <div *ngIf="userName2 && userName2.invalid && (userName2.dirty || userName2.touched)">
        <div *ngIf="userName2.errors?.required">
            Name is required.
        </div> 
        <div *ngIf="userName2.errors?.minlength">
            Name must be at least 3 characters long.
        </div> 
            <div *ngIf="userName2.errors?.maxlength"> 
            Name can be max 10 characters long.
        </div>
    </div>
    <div>
        <button type="submit" [disabled]="!userForm.valid">Submit</button>
    </div>
</form>




<ul *ngIf="docs?.docs?.length">
    <li *ngFor="let doc of docs.docs">{{ doc.name }}</li>
</ul>


<router-outlet></router-outlet>
